<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DMSOneFramework.My.MySettings.SCGDMSOneConnectionString" connectionString="Data Source=localhost;Initial Catalog=SCGDMSOneICC;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.DMSMatrizProduccionConnectionString" connectionString="Data Source=HUGOCAS\HUGOCAS_2005;Initial Catalog=DMSMatrizProduccion;Persist Security Info=True;User ID=sa;Password=scg" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.DMSAutomotrizProduccionConnectionString" connectionString="Data Source=FBLANCO\SQL2005;Initial Catalog=DMSAutomotrizProduccion;User ID=sa;Password=scg1" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.DMSAutomotrizProduccionConnectionString1" connectionString="Data Source=JMONTERO\JMONTERO_2005;Initial Catalog=DMSAutomotrizProduccion;User ID=sa;Password=scg" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBO_AutomotrizConnectionString" connectionString="Data Source=JMONTERO\JMONTERO_2005;Initial Catalog=SBO_Automotriz;User ID=sa;Password=scg" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.RRebustilloDMSAutomotrizProduccion" connectionString="Data Source=rrebustillo\dms;Initial Catalog=DMSAutomotrizProduccion;Persist Security Info=True;User ID=sa;Password=scg" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SCG_DMS_SoporteCriticoConnectionString" connectionString="Data Source=rrebustillo\sql2005;Initial Catalog=SCG_DMS_SoporteCritico;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SCGDMSOneDemoES_CRConnectionString" connectionString="Data Source=192.168.0.66;Initial Catalog=SCGDMSOneDemoES_CR;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SCG_DMS_Soporte_CriticoConnectionString" connectionString="Data Source=flopez\sql2005;Initial Catalog=SCG_DMS_Soporte_Critico;User ID=sa;Password=SCg2009" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBODemoES_CRCConnectionString" connectionString="Data Source=localhost\sql2005;Initial Catalog=SBODemoES_CRC;Persist Security Info=True;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.DiegoSBODemoES_CRCConnectionString" connectionString="Data Source=DHERRERA-PC\MSSQLSERVER2008;Initial Catalog=SBODemoES_CRC;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBONamespaceES_CRC_haraya" connectionString="Data Source=haraya2010\haraya2010v2008;Initial Catalog=SBONamespaceES_CRC;Persist Security Info=True;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SCGDMSOneNamespace_CRConnectionString" connectionString="Data Source=192.168.0.46;Initial Catalog=SCGDMSOneNamespace_CR;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBODemoES_CRCConnectionString1" connectionString="Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBONamespaceES_CRCConnectionString" connectionString="Data Source=DHERRERA-PC\MSSQLSERVER2008;Initial Catalog=SBONamespaceES_CRC;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.REASA_ProduccionConnectionString" connectionString="Data Source=Flopez-pc;Initial Catalog=REASA_Produccion;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.REASA_Financ_PruebasConnectionString" connectionString="Data Source=DHERRERA;Initial Catalog=REASA_Financ_Pruebas;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.REASA_ProduccionConnectionString1" connectionString="Data Source=DHERRERA;Initial Catalog=REASA_Produccion;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SCG_DMS_VITACURAConnectionString" connectionString="Data Source=localhost;Initial Catalog=SCG_DMS_VITACURA;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBO_DISITALIConnectionString" connectionString="Data Source=JESPINOZA-PC\JESPINOZA;Initial Catalog=SBO_DISITALI;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.PRUEBAS_SCG_DMS_URUCA_MBConnectionString" connectionString="Data Source=DESARROLLO20\SQL2008R2;Initial Catalog=PRUEBAS_SCG_DMS_URUCA_MB;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBO_YAMAHAConnectionString" connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_YAMAHA;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBODemoES_CRCConnectionString2" connectionString="Data Source=JESPINOZA-PC\JESPINOZA;Initial Catalog=SBODemoES_CRC;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBO_SAISConnectionString" connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_SAIS;User ID=sa;Password=B1Admin" providerName="System.Data.SqlClient"/>
        <add name="DMSOneFramework.My.MySettings.SBO_DemoSAPConnectionString" connectionString="Data Source=JOSUE\JESPINOZA;Initial Catalog=SBO_DemoSAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
