<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCG.DMSOne.AddonTaller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SCG.DMSOne.AddonTaller.My.MySettings>
            <setting name="LicenseServer" serializeAs="String">
                <value>sapsr</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="TipoServidorSBO" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BDConfiguracion" serializeAs="String">
                <value>SCGConfiguracion</value>
            </setting>
            <setting name="DireccionConfiguracion" serializeAs="String">
                <value>\\sapsr\ContratoVentas\</value>
            </setting>
            <setting name="IDFormMarcaEstiloModelo" serializeAs="String">
                <value>2000123</value>
            </setting>
            <setting name="UsuarioSBO" serializeAs="String">
                <value>pSYimA/Edy5PGz/CUe47uA==</value>
            </setting>
            <setting name="ContrasenaSBO" serializeAs="String">
                <value>kDy4VPCHbdtoRqMnj2j5RQ==</value>
            </setting>
            <setting name="UsuarioBD" serializeAs="String">
                <value>7qBBXMiWnFpiyuA8517s3A==</value>
            </setting>
            <setting name="ContrasenaBD" serializeAs="String">
                <value>dfQWGPQJg1LqHfWzKYK2ZA==</value>
            </setting>
            <setting name="BDTaller" serializeAs="String">
                <value>SCG_DMS_Automotriz</value>
            </setting>
        </SCG.DMSOne.AddonTaller.My.MySettings>
    </userSettings>
</configuration>
