<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<appSettings>
			<!--   User application and configured property settings go here.-->
			<!--   Example: <add key="settingName" value="settingValue"/> -->
			<add key="TreeAplicacion.SelectedImageIndex" value="0" />
			<add key="Treelicacion.SelectedImageIndex" value="0" />
			<add key="Lengua" value="es-CR" />
      <add key="CamposVisibles" value="false"/>
      <add key="TipoServidor" value="7"/>
		</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>