<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCG.DMSOne.AddonTaller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <userSettings>
    <SCG.DMSOne.AddonTaller.My.MySettings>
      <setting name="LicenseServer" serializeAs="String">
        <value>SRV-SAP01</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="TipoServidorSBO" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BDConfiguracion" serializeAs="String">
        <value>SCGConfiguracion</value>
      </setting>
      <setting name="DireccionConfiguracion" serializeAs="String">
        <value>\\192.168.1.55\ContratoVentas\</value>
      </setting>
      <setting name="IDFormMarcaEstiloModelo" serializeAs="String">
        <value>2000123C</value>
      </setting>
      <setting name="UsuarioSBO" serializeAs="String">
        <value>1seWS+LVqT4D2q1wJey9DA==</value>
      </setting>
      <setting name="ContrasenaSBO" serializeAs="String">
        <value>kDy4VPCHbdtoRqMnj2j5RQ==</value>
      </setting>
      <setting name="UsuarioBD" serializeAs="String">
        <value>cQkraYuNwk3EzbS/uintUw==</value>
      </setting>
      <setting name="ContrasenaBD" serializeAs="String">
        <value>7UbWAz9Zdz4KadxKi0FD9g==</value>
      </setting>
      <setting name="BDTaller" serializeAs="String">
        <value>DMSAutomotrizProduccion</value>
      </setting>
      <setting name="FiltroFormsCFL" serializeAs="String">
        <value></value>
      </setting>
    </SCG.DMSOne.AddonTaller.My.MySettings>
  </userSettings>
</configuration>
