<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="DBServerName" value="localhost"/>
		<add key="IDParametroWeb" value="5"/>
		<add key="UsuarioBD" value="sa"/>
		<add key="PasswordUsuarioBD" value="B1admin"/>
		<add key="UsuarioAddon" value="SCGAddon"/>
		<add key="PasswordUsuarioAddon" value="scgadmin"/>
		<add key="IDparametroAddon" value="1"/>
		<add key="ConfigurationEntityMetadata" value="res://*/SCGConfiguration.csdl|res://*/SCGConfiguration.ssdl|res://*/SCGConfiguration.msl"/>
		<!-- usar si usa autenticacion de windows  (0-false \ 1-true )-->
		<add key="IntegratedSecurity" value="0"/>
		<!-- Para los dashboards-->
		<add key="DashboardVirtualPath" value="localhost:61662/SWF/DMS/"/>
	</appSettings>
	<connectionStrings>
		<add name="OrdenTrabajoConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=OrdenTrabajo;User ID=sa;Password=B1admin" providerName="System.Data.SqlClient"/>
		<add name="SCGConfiguracionEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=SCGConfiguracion; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="form1" loginUrl="~/SCGInicio.aspx" cookieless="UseCookies" protection="All"/>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<membership defaultProvider="SCGLoginSecurityProvider">
			<providers>
				<add name="SCGLoginSecurityProvider" type="SCGSeguridadWeb.ScgLoginSecurityProvider" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" description="Stores and retrieves membership data from SQL Server" decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75" validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b24fff3e1aef13be438505b3f5becb5702d15bc7b98cd6fd2b7702b46ff63fdc9ea8979f6508c82638b129a"/>
			</providers>
		</membership>
		<customErrors defaultRedirect="~/SCGErrorPage.aspx" mode="RemoteOnly">
		</customErrors>
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<!--Proveedor de SiteMap-->
		<siteMap defaultProvider="SCGSiteMapProvider" enabled="true">
			<providers>
				<add name="SCGSiteMapProvider" type="SCGSeguridadWeb.SCGSiteMapProvider"/>
				<add name="SCGSiteMapProviderEN" type="SCGSeguridadWeb.SCGSiteMapProvider"/>
			</providers>
		</siteMap>
		<caching>
			<sqlCacheDependency pollTime="5000" enabled="true">
			</sqlCacheDependency>
		</caching>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
		</handlers>
		<httpRedirect enabled="false" destination="" exactDestination="true" childOnly="true"/>
	</system.webServer>
</configuration>
