<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--   Valores para conectar a BD SBO.-->
    <add key="SBO Windows Autentication" value="False" />
    <add key="Puerto" value=":30000" />
    <add key="DBUserSBO" value="sa" />
    <add key="DBPasswordSBO" value="Ijkmn5478" />
    <add key="ServidorSBO" value="IMC-SERVER" />
    <add key="LicenseServer" value="IMC-SERVER" />
    <add key="UsuarioSBO" value="manager" />
    <add key="ContrasenaUsuarioSBO" value="ijkmn5478" />
    <add key="BaseDatosSBO" value="SBOIMCCR" />
    <add key="ServerType" value="4" />
    <!--   Valores para conectar a BD SCG.-->
    <add key="SCG Windows Autentication" value="False" />
    <add key="ServidorSCG" value="IMC-SERVER" />
    <add key="DBUserSCG" value="sa" />
    <add key="DBPasswordSCG" value="Ijkmn5478" />
    <add key="BaseDatosSCG" value="OADOneIMCCR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>