<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DMS_Addon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DMS_Addon.My.MySettings.REPSAConnectionString" connectionString="Data Source=HARAYA2010;Initial Catalog=REPSA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBODemoES_CRCConnectionString"
      connectionString="Data Source=haraya2010\haraya2010v2008;Initial Catalog=SBONamespaceES_CRC;Persist Security Info=True;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBONamespaceES_CRC_haraya"
      connectionString="Data Source=haraya2010\haraya2010v2008;Initial Catalog=SBONamespaceES_CRC;Persist Security Info=True;User ID=sa;Password=B1admin" />
    <add name="DMS_Addon.My.MySettings.DMSNamespaceES_CRC_haraya"
      connectionString="Data Source=haraya2010\haraya2010v2008;Initial Catalog=SCGDMSOneNamespace_CR;Persist Security Info=True;User ID=sa;Password=B1admin" />
    <add name="DMS_Addon.My.MySettings.SCGDMSOneNamespace_CRConnectionString"
      connectionString="Data Source=192.168.0.46;Initial Catalog=SCGDMSOneNamespace_CR;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBODemo_USConnectionString"
      connectionString="Data Source=DHERRERA-PC;Initial Catalog=SBODemo_US;Persist Security Info=True;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBODemoCRConnectionString"
      connectionString="Data Source=FLOPEZ-PC;Initial Catalog=SBODemoCR;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.REASA_ProduccionConnectionString"
      connectionString="Data Source=Flopez-pc;Initial Catalog=REASA_Produccion;Persist Security Info=True;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_NASAConnectionString"
      connectionString="Data Source=192.168.1.55;Initial Catalog=SBO_NASA;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.CORIMOTORSConnectionString"
      connectionString="Data Source=flopez-pc;Initial Catalog=CORIMOTORS;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.REASA_Financ_PruebasConnectionString"
      connectionString="Data Source=DHERRERA;Initial Catalog=REASA_Financ_Pruebas;Persist Security Info=True;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBOBMNEWConnectionString"
      connectionString="Data Source=DHERRERA;Initial Catalog=SBOBMNEW;Persist Security Info=True;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBOBMNewConnectionString1"
      connectionString="Data Source=BEHRMANNDEMO;Initial Catalog=SBOBMNew;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_BAVARIANConnectionString1"
      connectionString="Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa" />
    <add name="DMS_Addon.My.MySettings.SBO_FinanciamientoConnectionString"
      connectionString="Data Source=DHERRERA;Initial Catalog=SBO_Financiamiento;User ID=sa;Password=B1admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_DISITALIConnectionString"
      connectionString="Data Source=FLOPEZ-PC;Initial Catalog=SBO_DISITALI;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.REASA_ProduccionConnectionString1"
      connectionString="Data Source=DHERRERA;Initial Catalog=REASA_Produccion;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_DISITALIConnectionString1"
      connectionString="Data Source=JESPINOZA-PC\JESPINOZA;Initial Catalog=SBO_DISITALI;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_YAMAHAcnnstr" connectionString="Data Source=JESPINOZA-PC\JESPINOZA;Initial Catalog=SBO_DISITALI;User ID=sa" />
    <add name="DMS_Addon.My.MySettings.SBO_YAMAHAConnectionString"
      connectionString="Data Source=DESARROLLO2\DESARROLLO2_SQL;Initial Catalog=SBO_YAMAHA;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_PORTILLOConnectionString"
      connectionString="Data Source=JUAN-SCG;Initial Catalog=SBO_PORTILLO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_YAMAHAConnectionString1"
      connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_YAMAHA;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_AutomotrizConnectionString2"
      connectionString="Data Source=CONSUL1-PC;Initial Catalog=SBO_Automotriz;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_SSBBL_PRDConnectionString"
      connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_SSBBL_PRD;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_AutomotrizConnectionString3"
      connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_Automotriz;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBOConnSAP" connectionString="Data Source=JVARGAS-PC\JVARGAS;Initial Catalog=SBODemoES_CRC;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_REASA_PRUEBASConnectionString"
      connectionString="Data Source=JVARGAS-PC\JVARGAS;Initial Catalog=SBO_REASA_PRUEBAS;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBODemoES_CRCConnectionString1"
      connectionString="Data Source=JESPINOZA-PC\JESPINOZA;Initial Catalog=SBODemoES_CRC;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_SAISConnectionString"
      connectionString="Data Source=FLOPEZ-PC\SQL2008R2;Initial Catalog=SBO_SAIS;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_SAISConnectionString1"
      connectionString="Data Source=RCAMACHOPC;Initial Catalog=SBO_SAIS;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.ZSBO_MPCConnectionString"
      connectionString="Data Source=ERICK-HP\ESANABRIA;Initial Catalog=ZSBO_MPC;User ID=sa;Password=B1Admin"
      providerName="System.Data.SqlClient" />
    <add name="DMS_Addon.My.MySettings.SBO_DemoSAPConnectionString"
      connectionString="Data Source=JOSUE\JESPINOZA;Initial Catalog=SBO_DemoSAP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--   Tipo Servidores 1:MSSQL, 2:DB2, 3:SYBASE, 4:MSSQL2005 -->
    <add key="Puerto" value="30000"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="B1Admin"/>
    <add key="BDTaller" value="SBO_DemoSAP_CR"/>
    <add key="Servidor" value="ENDERSON-HP"/>
    <add key="TipoServidor" value="7"/>
    <add key="LicenseServer" value="localhost"/>
    <add key="BDSCGConfiguracion" value="SCGConfiguracion"/>
    <add key="UsuarioSBO" value="manager"/>
    <add key="ContrasenaUsuarioSBO" value="B1admin"/>
    <add key="UsaSucursal" value="1"/>
    <add key="MododeEjecucion" value="1"/>
    <add key="DireccionConfiguracion" value="\\sapsr\ContratoVentas\"/>
    <add key="IDFormMarcaEstiloModelo" value="2000123"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <DMS_Addon.My.MySettings>
      <setting name="SBO_BAVARIANConnectionString" serializeAs="String">
        <value>Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa</value>
      </setting>
      <setting name="SBO_AutomotrizConnectionString" serializeAs="String">
        <value>Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa</value>
      </setting>
      <setting name="SBO_AutomotrizConnectionString1" serializeAs="String">
        <value>Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa</value>
      </setting>
      <setting name="Diego_SBODemoES_CRCConnectionString" serializeAs="String">
        <value>Data Source=FLOPEZ-PC\FLOPEZ;Initial Catalog=SBODemoES_CRC;User ID=sa</value>
      </setting>
    </DMS_Addon.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
